{% extends 'base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block body %}
<div>
    <span class="fs-4">Наши контакты</span><br><br>
    <p>Номер телефона: <b>89357183416</b> <br>
        Адрес: <b>Санкт-Петербург, Липовая аллея, 15 </b><br>
        Email: <b>PabloAgency@gmail.com</b></p>
    <iframe class="shadow"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.8694693629376!2d30.255654358330744!3d59.986239595473364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469636a1de2f2471%3A0x6d0c8d45ea9bc084!2z0JvQuNC_0L7QstCw0Y8g0LDQu9C70LXRjywgMTUsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQoNC-0YHRgdC40Y8sIDE5NzE4Mw!5e0!3m2!1sru!2sua!4v1591953024898!5m2!1sru!2sua"
            width=100% height="380" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0" class="map"></iframe>
    <br>
</div>
{% endblock %}