{% extends 'base.html' %}

{% block title %}
Туристическое агенство Pablo
{% endblock %}

{% block body %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h2 class="display-7 fw-bold">Привет</h2>
        <p class="col-md-8 fs-4">Путешествовать по разным городам и открывать новые и интересные места для себя – мечта
            многих людей. Мы делаем возможным в пару кликов отправиться в познавательное путешествие по самым интересным
            маршрутам.</p>
    </div>
</div>
{% endblock %}